Repository xabierlameiro/web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

.lintstagedrc.yml:

---
'**/*.{js,jsx,ts,tsx}':
  - eslint --config '.eslintrc.yml' --no-eslintrc --fix

'**/*.{js,jsx,ts,tsx,json,html,md,css,scss,yaml,yml}':
  - prettier --config '.prettierrc.yml' --write

Change rule
  .lintstagedrc.yml
Due: prettier --config '.prettierrc.yml' --write

Staged
   .eslintignore
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yml
  .prettierrc.yml
  package.json
  pages/__test__/index.test.tsx
  pages/api/hello.ts
  test-utils/index.tsx
  yarn.lock
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Test config
   .eslintignore
  package.json
  pages/__test__/index.test.tsx
  pages/index.tsx
  test-utils/index.tsx
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Change option
  tsconfig.json
Due: prettier --config '.prettierrc.yml' --write

Add runtime
  package.json
Due: prettier --config '.prettierrc.yml' --write

Fix for test
  pages/__test__/index.test.tsx
  pages/index.tsx
  tsconfig.json
  yarn.lock
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Remove yarn.lock
  package.json
  yarn.lock
Due: prettier --config '.prettierrc.yml' --write

Save more config
  .lintstagedrc.yml
  .prettierignore
  package.json
  pages/__test__/index.test.tsx
  pages/_app.tsx
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Add jest rule
  package.json
Due: prettier --config '.prettierrc.yml' --write

Last test configs
  configs/test-utils/index.tsx
  package.json
  pages/__test__/app.test.tsx
  pages/__test__/index.test.tsx
  pages/_app.tsx
  pages/index.tsx
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Firebase auth
   .eslintignore
  .eslintrc.yml
  .prettierignore
  configs/firebase/index.ts
  configs/firebase/next-firebase-auth.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/api/hello.ts
  pages/api/login.ts
  pages/api/logout.ts
  pages/index.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Remove husky
  .husky/pre-commit
Due: none

Add custom hook
  configs/firebase/next-firebase-auth.ts
  hooks/useSessionManagment.ts
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Refactor function & add google domain
  .eslintrc.yml
  configs/firebase/index.ts
  hooks/useSessionManagment.ts
  next.config.js
  pages/_app.tsx
  pages/index.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Refactor code
  configs/firebase/index.ts
  configs/firebase/next-firebase-auth.ts
  hooks/useSessionManagment.ts
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  tsconfig.json
  utils/date.ts
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Save work
  components/map.tsx
  next.config.js
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Add type
  pages/_app.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Remove testing config
   .eslintignore
  .eslintrc.yml
  .gitignore
  configs/test-utils/index.tsx
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/_app.tsx.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/configs/test-utils/index.html
  coverage/lcov-report/configs/test-utils/index.tsx.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/index.tsx.html
  coverage/lcov-report/pages/_app.tsx.html
  coverage/lcov-report/pages/index.html
  coverage/lcov-report/pages/index.tsx.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/test-utils/index.html
  coverage/lcov-report/test-utils/index.tsx.html
  coverage/lcov.info
  package.json
  pages/__test__/app.test.tsx
  pages/__test__/index.test.tsx
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Add eslint rule
  .eslintrc.yml
  next.config.js
  package.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Testing config
  .eslintrc.yml
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __test__/index.test.tsx
  configs/firebase/index.ts
  hooks/useSessionManagment.ts
  jest.config.js
  jest.setup.js
  package.json
  pages/_app.tsx
  pages/index.tsx
  tsconfig.json
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Types for api functions
  pages/api/login.ts
  pages/api/logout.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Return error
  pages/api/logout.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Add loadings
  components/map.tsx
  jest.config.js
  package.json
  pages/index.tsx
  pages/login.tsx
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Minor changes
  hooks/useSessionManagment.ts
  package.json
  pages/index.tsx
  pages/login.tsx
  utils/auth.ts
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Add layout
  .eslintrc.yml
  components/Footer.tsx
  components/Layout.tsx
  components/NavBar.tsx
  components/map.tsx
  pages/_app.tsx
  pages/map.tsx
  types/page.d.ts
  utils/auth.ts
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Changes database functions
  TODO.md
  components/NavBar.tsx
  hooks/useSessionManagment.ts
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/map.tsx
  pages/styles.css
  utils/auth.ts
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Only show loggin buttons if user is logg out
  components/NavBar.tsx
  utils/auth.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Refactor login
  components/NavBar.tsx
  hooks/useSessionManagment.ts
  pages/_app.tsx
  utils/auth.ts
  utils/db.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Save work
  components/Map/index.tsx
  components/map.tsx
  constants/geolocation.ts
  hooks/useGeoPosition/index.ts
  hooks/useGeoPosition/useGeoPosition.types.ts
  jest.config.js
  package.json
  pages/map.tsx
  pages/styles.css
  tsconfig.json
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Save work
  components/Layout.tsx
  components/Map/index.tsx
  components/NavBar.tsx
  constants/geolocation.ts
  hooks/useGeoPosition/index.ts
  hooks/useGeoPosition/useGeoPosition.types.ts
  next.config.js
  package.json
  pages/_app.tsx
  pages/map.tsx
  pages/styles.css
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

add tsconfig in gitignore
  .gitignore
Due: none

Remove tsconfig
  tsconfig.json
Due: prettier --config '.prettierrc.yml' --write

react types
  package.json
Due: prettier --config '.prettierrc.yml' --write

Add tsconfig
  .gitignore
  tsconfig.json
Due: prettier --config '.prettierrc.yml' --write

Change auth domain
  configs/firebase/index.ts
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Testing script
  pages/_app.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write

Test
  pages/_app.tsx
Due: eslint --config '.eslintrc.yml' --no-eslintrc --fix, prettier --config '.prettierrc.yml' --write
